<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DriftMotion{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon.png') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1344652070596566">
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a href="{{ path('index') }}">
                        <img alt="logo" src="{{ asset('img/logo_web.png') }}">
                    </a>
                </ul>
                <ul class="navbar-nav my-lg-0">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {#<a href="{{ path('index', {id: app.user.email}) }}" class="dropdown-item">
                                    Perfil
                                </a>#}
                                <a class="dropdown-item" href="{{ path('logout') }}">
                                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <a class="nav-link" href="{{ path('userRegistration') }}">
                                <i class="fa-solid fa-user-plus"></i> Registrate
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">
                                <i class="fa-solid fa-right-to-bracket"></i> Login
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
{% block footer %}
    <div class="bg-light text-center py-3">
        <div class="container">
            <!-- Google -->
            <a data-mdb-ripple-init class="btn btn-floating m-1" style="background-color: #dd4b39;"
               href="mailto:ssalejandro02@gmail.com" target="_blank" role="button">
                <i class="fab fa-google text-white"></i>
            </a>
            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn btn-floating m-1" style="background-color: #0082ca;"
               href="https://www.linkedin.com/in/ssalejandro02/" target="_blank" role="button">
                <i class="fab fa-linkedin-in text-white"></i>
            </a>
            <!-- Github -->
            <a data-mdb-ripple-init class="btn btn-floating m-1" style="background-color: #333333;"
               href="https://github.com/ssalejandro02" target="_blank" role="button">
                <i class="fab fa-github text-white"></i>
            </a>
            <div class="mt-2">
                <p class="text-muted">© 2024 - Alejandro Sánchez</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/f6edb77282.js" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
