{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container my-2">
        <div class="row">
            <div class="col-md-12 my-2">
                <div class="p-1 border bg-white text-center">
                    <h5 class="my-3 ">⚠️ Importante:</h5>
                    <p>🤝 Sé respetuoso | 🤓 Aporta contenido | 🕵️ Tu contraseña está encriptada</p>
                </div>
            </div>
            <div class="col-md-12 my-2">
                <div class="p-2 border bg-white">
                    <div id="accordion" class="mb-3">
                        <button id="publishButton" class="btn text-white publishButton"
                                type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                            <span class="text">PUBLICAR</span>
                        </button>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div id="collapseOne" class="collapse p-3 formPost" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                {{ form_start(form) }}
                                <div class="row p-2">
                                    <div class="col-md-6 my-2">
                                        {{ form_widget(form.title, {attr:{'placeholder':'Titulo', 'class':'form-control input-style'}}) }}
                                    </div>
                                    <div class="col-md-3 my-2">
                                        {{ form_widget(form.type, {attr:{'class':'form-control input-style'}}) }}
                                    </div>
                                    <div class="col-md-3 my-2">
                                        {{ form_widget(form.file, {attr:{'class':'form-control input-style my-2'}}) }}
                                    </div>
                                    <div class="col-md-12 my-2">
                                        {{ form_widget(form.description, {attr:{'class':'form-control input-style', 'placeholder': '¿Qué quiere contar?'}}) }}
                                    </div>
                                    <div class="col-md-12 my-2 text-center">
                                        {{ form_widget(form.submit, {attr:{'class':'btn btn-lg submitPostButton'}}) }}
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        {% else %}
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                <div class="alert alert-dark">
                                    Si deseas publicar, por favor
                                    <a href="{{ path('userRegistration') }}">Registrate</a>
                                    o
                                    <a href="{{ path('login') }}">inicia sesión</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% for post in posts %}
                        {% if post.file == null %}
                            {% set  first_row = 'col-md-12' %}
                            {% set second_row = 'd-none' %}
                        {% else %}
                            {% set  first_row = 'col-md-9' %}
                            {% set  second_row = 'col-md-3' %}
                        {% endif %}
                        <div class="container">
                            <a href="{{ path('postDetails', {id: post.id, url: post.url}) }}"
                               style="color: black; text-decoration: none;">
                                <div class="row border custom-shadow">
                                    <div class="{{ first_row }}">
                                        <div class="my-2 px-1 py-2">
                                            <h4>
                                                {{ post.title }}
                                            </h4>
                                            <p>Fecha de publicación: {{ post.creation_date | date }}</p>
                                        </div>
                                    </div>
                                    <div class="{{ second_row }} my-auto">
                                        {% if post.file != null %}
                                            <img src="{{ asset('uploads/files/' ~ post.file) }}" alt="Not found"
                                                 width="100%">
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                        <hr>
                    {% else %}
                        <div class="alert alert-warning">No hay ningún post, ¡sé el primero!</div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="navigation">
                                {{ knp_pagination_render(posts) }}
                            </div>
                        </div>
                    </div>
                    {#                    <div class="navigation"> #}
                    {#                        {{ knp_pagination_render(posts, 'custom/custom_pagination.html.twig') }} #}
                    {#                        #}{#                        {{ knp_pagination_render(posts) }} #}
                    {#                    </div> #}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/index.js') }}"></script>
    <script>
      $('.custom-file-input').on('change', function (event) {
        var inputFile = event.currentTarget
        $(inputFile).parent()
          .find('.custom-file-label')
          .html(inputFile.files[0].name)
      })
    </script>
    <script>
      let publishButton = document.getElementById('publishButton')
      // Agrega un listener para el evento de clic
      publishButton.addEventListener('click', function () {
        // Toggle de la clase 'clicked' al botón
        this.classList.toggle('clicked')
      })
    </script>
{% endblock %}