{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-dark text-white text-center">
                        <h3 class="mb-0">Registro</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(registration_form) }}
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            {{ form_widget(registration_form.email, {attr:{'class':'form-control', 'placeholder':'DriftMotion@example.com'}}) }}
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            {{ form_widget(registration_form.password, {attr:{'class':'form-control', 'placeholder':'Ingresa aquí tu contraseña'}}) }}
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-camera"></i> </span>
                            </div>
                            {{ form_widget(registration_form.photo, {attr:{'class':'form-control'}}) }}
                        </div>
                        <div class="form-group input-group">
                            {{ form_widget(registration_form.description, {attr:{'class':'form-control', 'placeholder':'Cuentanos sobre ti'}}) }}
                        </div>
                        <div class="d-grid gap-2">
                            {{ form_widget(registration_form.Submit, {attr:{'class':'btn btn-success btn-block'}}) }}
                        </div>
                        {{ form_end(registration_form) }}
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">¿Ya tiene cuenta?
                            <a href="{{ path('login') }}">Iniciar sesión</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}